* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-size: 16px;
  color: #FFFFFF;
  background-color: #060A16;
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
}

header {
  margin-top: 42px;
}
header h5 {
  font-family: "Ruda", sans-serif;
  font-size: 24px;
}
header ul {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  display: flex;
}
header .header-left {
  display: flex;
  align-items: center;
  width: 940px;
  justify-content: space-between;
  z-index: 1;
}
header .header-left ul {
  justify-content: space-between;
  width: 480px;
}
header .header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  z-index: 1;
}
header .header-right ul {
  align-items: center;
  justify-content: space-between;
  width: 170px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div {
  display: flex;
}
header .sign-up {
  width: 105px;
  padding: 12px 24px 12px 24px;
  border-radius: 4px;
  gap: 10px;
  background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
}
header .ellipse {
  position: absolute;
  top: -35px;
  left: 223px;
  width: 514px;
  height: 514px;
  flex-shrink: 0;
  border-radius: 514px;
  background: #72339B;
  filter: blur(300px);
}
header .ellipse18 {
  position: absolute;
  top: -29px;
  left: 695px;
  width: 514px;
  height: 514px;
  flex-shrink: 0;
  border-radius: 514px;
  background: #413651;
  filter: blur(300px);
}
header .ellipse16 {
  position: absolute;
  top: 131px;
  left: 648px;
  width: 326px;
  height: 326px;
  flex-shrink: 0;
  border-radius: 326px;
  background: rgba(255, 214, 41, 0.2);
  filter: blur(300px);
}
header .ellipse13 {
  position: absolute;
  top: 532px;
  left: 1215px;
  width: 449px;
  height: 449px;
  flex-shrink: 0;
  border-radius: 449px;
  background: #472C9F;
  filter: blur(300px);
}
header .ellipse19 {
  position: absolute;
  top: 639px;
  left: 40px;
  width: 514px;
  height: 514px;
  flex-shrink: 0;
  border-radius: 514px;
  background: #72339B;
  filter: blur(300px);
}
header .ellipse20 {
  position: absolute;
  top: 1447px;
  left: 515px;
  width: 514px;
  height: 514px;
  flex-shrink: 0;
  border-radius: 514px;
  background: #72339B;
  filter: blur(400px);
}
header .ellipse22 {
  position: absolute;
  top: 1623px;
  left: 1122px;
  width: 411px;
  height: 411px;
  border-radius: 411px;
  background: rgba(255, 214, 41, 0.2);
  filter: blur(300px);
}
header .ellipse22 {
  position: absolute;
  top: 2217px;
  left: 56px;
  width: 588px;
  height: 588px;
  border-radius: 588px;
  background: #72339B;
  filter: blur(400px);
}
header .ellipse25 {
  position: absolute;
  top: 2674px;
  left: 1148px;
  width: 525px;
  height: 813px;
  border-radius: 813px;
  background: rgba(255, 214, 41, 0.11);
  filter: blur(300px);
}
header .ellipse23 {
  position: absolute;
  top: 2963px;
  left: 566px;
  width: 478px;
  height: 478px;
  border-radius: 478px;
  background: #72339B;
  filter: blur(400px);
}
header .cat {
  background: url(../img/image\ 113.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: 139px;
  left: 714px;
  width: 140px;
  height: 140px;
}
header .rectangle {
  position: absolute;
  top: 139px;
  left: 1015px;
  width: 72px;
  height: 72px;
  border-radius: 8px;
  background: #8A40FF;
}
header .rectangle112 {
  background: url(../img/Rectangle\ 112.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: 197px;
  left: 1172px;
  width: 248px;
  height: 248px;
  flex-shrink: 0;
  border-radius: 8px;
}
header .rectangle111 {
  background: url(../img/Rectangle\ 111.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: 359px;
  left: 781px;
  width: 499px;
  height: 493px;
  flex-shrink: 0;
  border-radius: 8px;
}
header .rectangle114 {
  background: url(../img/Rectangle\ 114.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: 643px;
  left: 1330px;
  width: 130px;
  height: 130px;
  flex-shrink: 0;
  border-radius: 8px;
}

.group341 {
  margin-top: 115px;
  display: inline-flex;
  flex-direction: column;
}
.group341 .buy {
  width: 452px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group341 .buy span {
  background-color: #2AA5A0;
  background-image: linear-gradient(90deg, #AF25D3, #9725D6, #5E23D9);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.group341 .buy .text {
  margin-top: 12px;
  margin-bottom: 40px;
  color: #D7D7D7;
  font-family: "Open Sans", sans-serif;
  line-height: 150%;
  display: flex;
  width: 442px;
  flex-direction: column;
  flex-shrink: 0;
}
.group341 h1 {
  font-size: 64px;
  font-family: "Ruda", sans-serif;
  font-weight: 600;
  line-height: 82px;
}
.group341 a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.group341 a.buttom {
  padding: 16px 32px;
  border-radius: 4px;
  background: linear-gradient(138deg, rgba(201, 34, 227, 0.4) 0%, rgba(153, 30, 234, 0.4) 52.29%, rgba(73, 23, 246, 0.4) 100%);
}
.group341 a.ellipse {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  background-image: url("../img/Ellipse11.svg");
  margin-left: 24px;
  margin-right: 16px;
}
.group341 .blocks {
  display: inline-flex;
  padding: 24px 47px;
  align-items: flex-start;
  gap: 70px;
  margin-top: 76px;
  margin-bottom: 214px;
  background: rgba(255, 255, 255, 0.13);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.group341 .block {
  flex-direction: column;
  gap: 10px;
}
.group341 .block h2 {
  font-size: 36px;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  line-height: 40px;
}
.group341 .block p {
  color: #D7D7D7;
}

.learn_history .container {
  display: flex;
  flex-direction: column;
}
.learn_history .block {
  display: flex;
}
.learn_history h4 {
  font-size: 32px;
  font-family: "Ruda", sans-serif;
  font-weight: 600;
  margin-right: 123px;
}
.learn_history p {
  display: flex;
  width: 291px;
  flex-direction: column;
  flex-shrink: 0;
  color: #D7D7D7;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-right: 123px;
}
.learn_history .gradient {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid;
  border-radius: 4px;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to left, #EA00AD, #8A40FF);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
.learn_history .img1 {
  position: relative;
  margin-top: 52px;
  width: 614px;
  height: 400px;
  flex-shrink: 0;
  background: linear-gradient(134deg, rgba(198, 34, 228, 0.4) 0%, rgba(109, 26, 241, 0.4) 100%);
}
.learn_history .img1 img {
  margin-top: 7px;
  width: 379px;
  height: 393px;
  flex-shrink: 0;
}
.learn_history .img1 .text {
  position: absolute;
  top: 118px;
  left: 438px;
  width: 176px;
  height: 160px;
  flex-shrink: 0;
  border-radius: 80px 0px 0px 80px;
  background: #232323;
}
.learn_history .img1 .text .ellipse {
  margin: 24px 40px 24px 24px;
  width: 112px;
  height: 112px;
  border-radius: 112px;
  border: 1px solid #FFF;
}
.learn_history .img1 .text .ellipse .move {
  margin-top: 12px;
  margin-left: 23px;
  transform: rotate(-35deg);
}
.learn_history .img1 .text .ellipse .move h6 {
  color: #D7D7D7;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.learn_history .img1 .text .ellipse .move span {
  color: #D7D7D7;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.learn_history .images {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-top: 52px;
}
.learn_history .images .rect {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-left: 60px;
}
.learn_history .images .rect .rect92 {
  background-image: url(../img/Rectangle\ 92.png);
  background-size: cover;
  width: 240px;
  height: 160px;
}
.learn_history .images .rect .rect93 {
  background-image: url(../img/Rectangle\ 93.png);
  background-size: cover;
  width: 240px;
  height: 160px;
}
.learn_history .images .rect .rect94 {
  background-image: url(../img/Rectangle\ 94.png);
  background-size: cover;
  width: 240px;
  height: 160px;
}
.learn_history .images .rect div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.create {
  margin-top: 148px;
  text-align: center;
}
.create h3 {
  font-size: 48px;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  margin-bottom: 104px;
}
.create .box {
  display: flex;
  border-radius: 8px;
  background: #211538;
  height: 320px;
  flex-shrink: 0;
}
.create .box .block {
  margin: 48px auto;
  width: 255px;
  position: relative;
}
.create .box .block h5 {
  font-size: 24px;
  font-weight: 600;
  margin: 24px 0px 16px 0px;
}
.create .box .block p {
  color: #D7D7D7;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  width: 255px;
  margin: auto;
}
.create .box .individual {
  width: 337px;
  height: 320px;
  border-radius: 8px;
  background: #301C49;
  box-shadow: 0 0 3px #5A19F4 inset;
  transform: translateY(-100px);
  padding-top: 48px;
}

.gallery_section {
  margin-top: 148px;
}
.gallery_section h3 {
  font-size: 48px;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  margin-bottom: 56px;
  text-align: center;
}
.gallery_section h5 {
  font-size: 20px;
  font-weight: 600;
  margin: 24px 0px 12px 0px;
}
.gallery_section h4 {
  font-size: 24px;
  font-weight: 600;
  z-index: 5;
}
.gallery_section p {
  color: #D7D7D7;
  font-size: 16px;
  font-weight: 400;
}
.gallery_section .gallery {
  display: flex;
  justify-content: space-between;
}
.gallery_section .block {
  min-width: 388px;
  flex-shrink: 0;
  border: 1px solid;
  border-radius: 4px;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to left, #C522E4, #5A19F4);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 24px 24px 40px 24px;
}
.gallery_section .block .img {
  display: flex;
}
.gallery_section .block .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 18px;
}
.gallery_section .block .column .shadow {
  background-size: cover;
  width: 92px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #FFF;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery_section .block .column .shadow::after {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  content: "";
  border-radius: 4px;
}
.gallery_section .block .column .second_img {
  background-image: url(../img/gallery/image\ 118.png);
}
.gallery_section .block .column .third_img {
  background-image: url(../img/gallery/image\ 124.png);
}
.gallery_section .block .arrow_4 {
  position: absolute;
  top: 379px;
  right: 24px;
  background-image: url(../img/Arrow\ 4.svg);
  background-size: cover;
  width: 20px;
  height: 10px;
}
.gallery_section .buttom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  margin-top: 48px;
}
.gallery_section .buttom a.buttom {
  padding: 16px 32px;
  border-radius: 4px;
  background: linear-gradient(147deg, rgba(200, 34, 228, 0.3) 0%, rgba(87, 25, 244, 0.3) 100%);
}

.seller_section {
  margin-top: 148px;
}
.seller_section h5 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}
.seller_section p {
  font-size: 14px;
  font-weight: 400;
}
.seller_section h3 {
  font-size: 48px;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}
.seller_section .block {
  display: flex;
  align-items: center;
}
.seller_section .gallery {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.seller_section .gallery .sellers {
  border-radius: 4px;
  background: rgba(217, 217, 217, 0.08);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  width: 317px;
  padding: 24px;
  margin: 18px 0px;
}
.seller_section .gallery .sellers img {
  float: left;
  margin-right: 20px;
}
.seller_section .gallery .gradient {
  background: linear-gradient(144deg, rgba(179, 33, 231, 0.4) 0%, rgba(105, 27, 242, 0.4) 100%);
}
.seller_section .arr_left {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.seller_section .arr_right {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: linear-gradient(180deg, rgba(179, 33, 231, 0.4) 0%, rgba(111, 28, 242, 0.4) 100%);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.seller_section .arr_right img {
  transform: rotate(180deg);
}

.blog_section {
  margin-top: 148px;
  margin-bottom: 148px;
}
.blog_section h3 {
  font-size: 48px;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  margin-bottom: 56px;
  text-align: center;
}
.blog_section .gallery {
  display: flex;
  justify-content: space-between;
}
.blog_section .gallery .block {
  max-width: 388px;
  flex-shrink: 0;
  border: 1px solid;
  border-radius: 4px;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to left, #C522E4, #5A19F4);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 24px 24px 40px 24px;
}
.blog_section .gallery .block .img {
  background-size: cover;
  width: 340px;
  height: 260px;
  border-radius: 4px;
}
.blog_section .gallery .block ._1 {
  background-image: url(../img/blog/image\ 366.png);
}
.blog_section .gallery .block ._2 {
  background-image: url(../img/blog/image\ 367.png);
}
.blog_section .gallery .block ._3 {
  background-image: url(../img/blog/image\ 368.png);
}
.blog_section .gallery .block .info {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  margin-bottom: 24px;
}
.blog_section .gallery .block .info .social {
  display: flex;
}
.blog_section .gallery .block .info .social p {
  color: #BA21E7;
  padding-left: 18px;
}
.blog_section .gallery .block .info .social .ellipse {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 1.2px solid #681BF2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog_section .gallery .block h5 {
  font-size: 18px;
  font-weight: 600;
}
.blog_section .gallery .block .text {
  color: #D7D7D7;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 25px;
}
.blog_section .gallery .block .links {
  display: flex;
  justify-content: space-between;
}
.blog_section .gallery .block .links .buttom {
  border-radius: 4px;
  background: linear-gradient(127deg, rgba(200, 34, 228, 0.4) 0%, rgba(87, 25, 244, 0.4) 100%);
  padding: 10px 20px;
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.blog_section .gallery .block .links .social {
  display: flex;
  width: 104px;
  justify-content: space-between;
}
.blog_section .gallery .block .links .social .ellipse {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1.2px solid #681BF2;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}
footer .container h5 {
  font-size: 24px;
  font-weight: 700;
}
footer .container p {
  color: #D7D7D7;
  font-weight: 400;
  line-height: 24px;
  width: 314px;
}
footer .container a {
  color: #D7D7D7;
  font-weight: 400;
}
footer .container .block {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
footer .container .block .social {
  display: inline-flex;
  margin-top: 8px;
}
footer .container .block .social .rectangle {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 4px;
  background: linear-gradient(133deg, rgba(117, 114, 217, 0.6) 0%, rgba(214, 47, 195, 0.6) 77.92%, rgba(185, 89, 198, 0.6) 99.99%);
}
footer .container .block .button {
  position: relative;
}
footer .container .block .button input {
  position: relative;
  width: 295px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 0.6px solid #D7D7D7;
  background-color: transparent;
  color: #FFFFFF;
  padding-left: 16px;
}
footer .container .block .button button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: transparent;
}
footer .container .block .button button::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  background-image: url(../img/border.svg);
  background-size: cover;
  content: "";
  z-index: 1;
}/*# sourceMappingURL=style.css.map */