//colors
$white: #FFFFFF;
$gradient: linear-gradient(259.74deg, #AF25D3 75.33%, #9725D6 85.93%, #5E23D9 98.26%),
linear-gradient(0deg, #FFFFFF, #FFFFFF);
$lightgradient: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
$lightgrey: #D7D7D7;
$admingradient: linear-gradient(95.85deg, #BA21E7 5.52%, #BB21E6 95.11%);
$socialgradient: linear-gradient(132.51deg, rgba(117, 114, 217, 0.6) 2.66%, rgba(185, 89, 198, 0.6) 74.47%, rgba(214, 47, 195, 0.6) 98.67%);

//font size
$text-size: 16px;
$l-tittle: 64px;
$m-tittle: 48px;
$s-tittle: 32px;
$xs-tittle: 24px;

//font family
$f-family1: 'Open Sans', sans-serif;
$f-family2: 'Ruda', sans-serif;



